body {
    width: 100vw;
    background-color: #defcff;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.radial-background {
    position: fixed;

    background: #e3ed83;
    background: radial-gradient(
        at bottom,
        #cc8527 0%,
        #fbe5ae 30%,
        #e0f6ed 65%,
        #defcff 69%,
        #d8fcff 76%
    );

    left: -100vw;
    transform: translateX(50vw);

    width: calc(200vw);
    height: calc(100vh + 100px);
    z-index: -2;
}

.circle {
    --radius: 715px;

    z-index: -1;

    height: var(--radius);
    width: var(--radius);

    position: fixed;
    bottom: calc((var(--radius) - 200px) * -1);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;

    background: radial-gradient(
        at center,
        #c2974e 0%,
        #ca9e5c 33%,
        #d5a970 66%,
        #dfa25d 100%
    );
}

h2 {
    font-weight: bold;
    opacity: 0.75;
    margin-bottom: 10px;
}

#map {
    margin: 27px auto 0;
    max-width: var(--max-width);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h5 {
        position: absolute;
        font-weight: 400;
        color: #707070;
    }

    h5:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        right: -26px;
    }

    h5:nth-child(3) {
        bottom: -26px;
        left: 50%;
        transform: translateX(-50%);
    }

    h5:nth-child(4) {
        top: 50%;
        transform: translateY(-50%);
        left: -26px;
    }

    h5:nth-child(5) {
        top: -26px;
        left: 50%;
        transform: translateX(-50%);
    }

    #image-container {
        width: 100%;
        height: 410px;
        position: relative;
        overflow: hidden;
        cursor: grab;
        border: 2px solid #707070;
    }

    #image {
        position: absolute;
        transform: rotateZ(-45deg);
        top: -740px;
        left: -557px;

        img {
            user-drag: none;
            user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }

    #dot {
        position: absolute;
        left: calc(50% - 3px);
        top: calc(50% - 51px);
        background-color: #9f6313;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}
