body {
    width: 100vw;
    height: 150vh;
    background-color: #defcff;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.radial-background {
    position: fixed;

    background: #e3ed83;
    background: radial-gradient(
        at bottom,
        #cc8527 0%,
        #fbe5ae 30%,
        #e0f6ed 65%,
        #defcff 69%,
        #d8fcff 76%
    );

    left: -100vw;
    transform: translateX(50vw);

    width: calc(200vw);
    height: calc(100vh + 100px);
    z-index: -2;
}

.circle {
    --radius: 715px;

    z-index: -1;

    height: var(--radius);
    width: var(--radius);

    position: fixed;
    bottom: calc((var(--radius) - 200px) * -1);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;

    background: radial-gradient(
        at center,
        #c2974e 0%,
        #ca9e5c 33%,
        #d5a970 66%,
        #dfa25d 100%
    );
}

h2 {
    font-weight: bold;
    opacity: 0.75;
    margin-bottom: 10px;
}

#map {
    margin: 27px auto 0;
    max-width: var(--max-width);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    #image-container {
        width: 100%;
        height: 410px;
        position: relative;
        overflow: hidden;
        cursor: grab;
    }

    #image {
        position: absolute;
        transform: rotateZ(-45deg);
        top: -1000px;
        left: -540px;
        user-drag: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}
